<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sthelper.sthelper"
    android:versionCode="1"
    android:versionName="st" >

    <application
        android:name=".SApp"
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.NoActionBar" >
        <activity
            android:name=".business.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".business.auth.LoginAction"
            android:label="@string/title_activity_login_action"
            android:screenOrientation="portrait"
            android:theme="@style/actionTheme" />
        <activity
            android:name=".business.auth.RegisterAction"
            android:label="@string/title_activity_register_action"
            android:screenOrientation="portrait"
            android:theme="@style/actionTheme" />
        <activity
            android:name=".business.food.FoodStoreListAction"
            android:label="@string/title_activity_food_store_list_action" >
        </activity>
        <activity
            android:name=".business.food.StoreInfoAction"
            android:label="@string/title_activity_store_info_action"
            android:parentActivityName=".business.BaseAction" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sthelper.sthelper.business.BaseAction" />
        </activity>
        <activity
            android:name=".business.food.TakingOrderAction"
            android:label="@string/title_activity_taking_order_action" >
        </activity>
        <activity
            android:name=".business.FavorableAction"
            android:label="@string/title_activity_favorable_action"
            android:parentActivityName=".business.BaseAction" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sthelper.sthelper.business.BaseAction" />
        </activity>
        <activity
            android:name=".business.stone.StoneListAction"
            android:label="@string/title_activity_stone_list_action"
            android:parentActivityName=".business.BaseAction" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sthelper.sthelper.business.BaseAction" />
        </activity>
        <activity
            android:name=".business.stone.PublishStoneAction"
            android:label="@string/title_activity_publish_stone_action" >
        </activity>
        <activity
            android:name=".business.stone.StoneItemInfoAction"
            android:label="@string/title_activity_stone_item_info_action" >
        </activity>
        <activity
            android:name=".business.stone.StoneInfoAction"
            android:label="@string/title_activity_stone_info_action" >
        </activity>
    </application>

</manifest>
